@page "/dishes/{DishType}/{DishID:int}"

@inject IRecipeRepository _recipeRepository

<div class="text-center">
    <h1 style="font-size: 52px;">
        @currDish.Name
    </h1>

    <h2>
        <small class="text-muted p-1" style="font-size: 38px;">@currDish.Type Meal</small>
    </h2>
    <br />
    @{
         
    }
    @foreach (var ingredient in ingredients)
    {
        <a>@ingredient</a>
    }

    @*<h1>
        @currDish.Ingredients;
    </h1>*@
</div>

<h5>@currDish.RecipeDescription</h5>

@code {
    [Parameter]
    public string DishType { get; set; }
    [Parameter]
    public int DishID { get; set; }

    public RecipeDTO currDish { get; set; } = new RecipeDTO();
    public List<string> ingredients { get; set; } = new List<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
            await LoadCategories();
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        currDish = await _recipeRepository.Get(this.DishID);
        ingredients = currDish.Ingredients.Split(';').ToList();
    }
}
